/* *{
    margin: 0;
    padding: 0;
    font-size: 1.1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

main{
    margin: 0 10px 0 10px;
    background-color: antiquewhite;
}

#container-produto{
    display: flex;
    justify-content: center;
    gap:10px;
    padding: 10px;
    flex-wrap: wrap;
    
}


.card-produto{
    display: flex;
    flex-direction: column;
 

    background-color: white;
}

.marca-produto{
    color: #ddd;
} */
/* .productImage{
    height: 300px;
  
} */

@tailwind base;
@tailwind components;
@tailwind utilities;


